JETTY_HOME={{ jetty_home }}
JETTY_BASE={{ jetty_base }}
JETTY_USER={{ jetty_user }}
JETTY_PORT={{ jetty_port }}
JETTY_HOST={{ jetty_host }}
JETTY_LOGS={{ jetty_logs }}
JAVA_OPTIONS="-Xmx1024m -Xms1024m"
